 <header>
        <div class="logo">
            <a href="/">
                <img src="/cyber-security.png" alt="Logo">
            </a>
        </div>
        <div class="nav">
            <a href="">Posts</a>
            <a href="/login">Sign In</a>
            <a href="">Sign Up</a>
        </div>
    </header>