 <header>
        <div class="logo">
            <a href="/">
                <img src="/cyber-security.png" alt="Logo">
            </a>
        </div>
        
        <div class="nav">
            <a href="/posts">Posts</a>
            <a href="/login">Sign In</a>
            <a href="/signup">Sign Up</a>
        </div>
        <% if(currentUser){%>
            <div class="nav">
                <a href="/newmessage">NewMessage</a>
            </div>
        <%}%>
        
    </header>