<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
     <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&display=swap" rel="stylesheet">
    <!-- Your CSS -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
     <%- include('partials/header') %>
     <% if (currentUser) { %>
  <div class="welcome-msg">
    Welcome back  <span class="currentUser">  <%=  currentUser.firstname %> 🎉   </span>
  </div>
<% } %>

  

    
</body>
</html>